name: Build and Publish JAR

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Build Fat JAR
        run: ./gradlew shadowJar

      - name: Publish Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "build/libs/*-fat.jar"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
